main{
  margin-top: 1rem;
  width: 60%;
  margin: auto;
}

.background-image{
  font-size: 100%;
  min-height: 100%;
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
