:host {
  display: block;
  margin-top: 1rem;
}

mat-card{
  margin-top: 0.5rem;
  font-size: x-large;
}

button{
  position: absolute;
  left: 1015px;
  top: 8px;
  font-size: large;
}

.info-text{
  text-align: center;
}
