:host {
  display: block;
  margin-top: 1rem;
}

mat-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  font-size: x-large;
}

button{
  font-size: large;
}

.info-text{
  text-align: center;
}
